.columns-4
	text.c_clean_white.h6.HB About us
	br
	br
	a(href='#')
		text Who we are
	br
	a(href='#')
		text Missions we love
	br
	a(href='#')
		text Press
	br
	a(href='#')
		text Write to us
	br
.columns-4
	text.c_clean_white.h6.HB Help
	br
	br
	a(href='#')
		text FAQ
	br
	a(href='#')
		text Privacy policy
	br
	a(href='#')
		text Term of use
	br
	a(href='#')
		text Request support
	br
.columns-4
	text.c_clean_white.h6.HB Discover
	br
	br
	a(href='#')
		text Featured
	br
	a(href='#')
		text Top missions
	br
	a(href='#')
		text Stories
	br
	br
.columns-4
	text.c_clean_white.h6.HB Follow us
	br
	br
	a(href='#')
		text Twitter
	br
	a(href='#')
		text Facebook
	br
	a(href='#')
		text Tech blog
	br
	a(href='#')
		text Product blog
