.title.text-center
	text.h1.text-center.font-light.pushy.mobile-breaker SIMPLE.
	text.h1.text-center.font-normal.pushy.mobile-breaker BEAUTIFUL.
	text.h1.text-center.font-bold.pushy.mobile-breaker FOR EVERYONE.

.app-img.img-center.scrollReveal
