.title.text-center
	text.h1.text-center.font-light EXPRESS YOUR INTEREST
	br
	text.h5.font-bold Leave your email and we will
	br
	text.h5.font-bold contact you when we go live
	br
	.mail-form
		input#mail-address(type="email").mail-input.h5.text-center.fill-horizontal
		br
		#send-email.c_vertical_button.bg_green.font-bold.c_white.fill-horizontal
			span.charity-play
			text SUBMIT
	.social.h5
		.social-card.scrollReveal.text-center
			a(href='https://www.facebook.com/hashtagcharity', target="_blank")
				span.charity-facebook.bubble_big.bg_babyblue
		.social-card.scrollReveal
			a(href='https://twitter.com/hashtagcharity', target="_blank")
				span.charity-twitter.bubble_big.bg_babyblue
