.popup-general.popup.bg_white.text-center
	.general-message
		text#general-title.h2 Helloka!
		br
		br
		text#general-message.h4 Helloka!
	.general-ok.c_button.bg_green.font-bold.c_white
		text#general-confirm.hS OK
