.title.text-center
	text.h1.text-center.font-light THE PLACE WHERE CAUSES
	br
	text.h2.text-center.font-bold FIND THE SKILLS THEY NEED

.reasonings.h6
	.reason-card.scrollReveal
		.reason-card-content.text-center
			span.h1.charity-dreamy.bubble_big.bg_white.c_green
			br
			br
			text Every great cause needs great skills
	.reason-card.scrollReveal
		.reason-card-content.text-center
			span.h1.charity-cross.bubble_big.bg_white.c_green
			br
			br
			text A place for IT pros to find worthy causes
	.reason-card.scrollReveal
		.reason-card-content.text-center
			span.h1.charity-skilly.bubble_big.bg_white.c_green
			br
			br
			text Like no other charity, contribute with skills&time
	.reason-card.scrollReveal
		.reason-card-content.text-center
			span.h1.charity-earth.bubble_big.bg_white.c_green
			br
			br
			text For everybody, in every country
	.reason-card.scrollReveal
		.reason-card-content.text-center
			span.h1.charity-heart.bubble_big.bg_white.c_green
			br
			br
			text Show off your IT skills, show your case
	.reason-card.scrollReveal
		.reason-card-content.weaver-activator.text-center
			span.h1.charity-aid.bubble_big.bg_white.c_green
			br
			br
			text Getting involved today - something great needs you
