.title.text-center
	text.h1.text-center.font-light.pushy THE
	text.h1.text-center.font-bold TEAM

.team.h6.text-center
	.team-card.scrollReveal
		.team-card-img.jozsef.img-fill
		.team-card-content.bg_white
			br
			text.font-bold József
			br
			text.font-bold Czapovics
			br
			text.font-light Idea
			br
			br
			span.hS.charity-quote
			br
			.motto.narrower
				text.hN We help so you can help
			br
			br
			a(href="http://www.linkedin.com/profile/view?id=32807246", target="_blank")
				span.h5.charity-linkedin-fill.bubble_small.bg_green.c_white
	.team-card.scrollReveal
		.team-card-img.zsuzsa.img-fill
		.team-card-content.bg_white
			br
			text.font-bold Zsuzsa
			br
			text.font-bold Kohanecz
			br
			text.font-light Community
			br
			br
			span.hS.charity-quote
			br
			.motto.narrower
				text.hN Be dedicated to what you believe in
			br
			br
			a(href="http://www.linkedin.com/profile/view?id=324531148", target="_blank")
				span.h5.charity-linkedin-fill.bubble_small.bg_green.c_white
	.team-card
		.team-card-img.imre.img-fill
		.team-card-content.bg_white
			br
			text.font-bold Imre
			br
			text.font-bold Fazekas
			br
			text.font-light Technology
			br
			br
			span.hS.charity-quote
			br
			.motto.narrower
				text.hN By Knowledge, feeling Pleasure, aiming Perfection, toward Beauty.
			br
			br
			a(href="http://www.linkedin.com/profile/view?id=212370876", target="_blank")
				span.h5.charity-linkedin-fill.bubble_small.bg_green.c_white

