.title.text-center
	text.h1.text-center.font-bold.pushy IT
	text.h1.text-center.font-light.pushy WORKS.

.testimonial.scrollReveal
	.testimonial-content.bg_white.shy
		.testimonial-intro
			.testimonial-img.img-fill
			.testimonial-title.text-center
				text.h2 Project CókMók
				br
				text.h6.c_magenta our first success story
		.testimonial-descs.font-normal
			.test-desc
				text.h4.font-light Idea
				br
				text.hN With a convertible backpack develop a caring and open community around the children grow up in state care
			.test-desc
				text.h4.font-light Missing skill
				br
				text.hN Needed visibility with the help of an online platform
			.test-desc
				text.h4.font-bold.c_green > Solution
				br
				text.hN 20 engineers from 3 cities built the website and an online shop in 24 hours
		.testimonial-link.h6.bg_green
			a(href='http://www.cokmok.org', target="_blank")
				.text.text-right.pushy www.cokmok.org
