.video-container.img-fill
	.desktop-only
		video(id="animation_video", autoplay, loop, muted, class="fillWidth")
			source(src="media/hashtagcharity.mp4", type="video/mp4")
			source(src="media/hashtagcharity.ogg", type="video/ogg")
			source(src="media/hashtagcharity.webm", type="video/webm")

.video-overlay
	.logo.img-center.scrollReveal.mantra
	.c_white
		.video-mantra.scrollReveal.mantra
			text.h1.font-normal BE REMEMBERED FOR DOING SOMETHING GOOD!
			br
			br
			text.hN.font-bold FIND A CAUSE YOU BELIEVE IN. PLEDGE YOUR SKILLS AND TIME. MAKE SOMEBODY'S DREAM HAPPEN.
			br
			br
			br
			.scrollReveal.mantra-button
				a(href='http://vimeo.com/97195388').c_button.bg_green.font-bold.c_white.video-button.popup-media
					span.charity-play
					text LEARN MORE
