c_babyblue = #ddf5ff
c_white = #ffffff
c_light_white = #f5f5f5
c_dark_white = #eeeeee
c_green = #75ce4c
c_dark_blue = #0c0c10
c_light_gray = #757580
c_dark_gray = #28282a
c_magenta = #e90e77

.bg_babyblue
	background-color c_babyblue

.bg_white
	background-color c_white

.bg_light_white
	background-color c_light_white

.bg_dark_white
	background-color c_dark_white

.bg_dark_blue
	background-color c_dark_blue

.bg_light_gray
	background-color c_light_gray

.bg_dark_gray
	background-color c_dark_gray

.bg_green
	background-color c_green

.bg_magenta
	background-color c_magenta

.c_babyblue
	color c_babyblue

.c_white
	color c_white

.c_light_white
	color c_light_white

.c_dark_white
	color c_dark_white

.c_dark_blue
	color c_dark_blue

.c_light_gray
	color c_light_gray

.c_dark_gray
	color c_dark_gray

.c_green
	color c_green

.c_magenta
	color c_magenta

.bubble_small
	-webkit-border-radius 50%
	-moz-border-radius 50%
	border-radius 50%
	padding 10px

.bubble_big
	-webkit-border-radius 50%
	-moz-border-radius 50%
	border-radius 50%
	padding 20px
