#auth-error.white-popup.mfp-hide.text-left
	.row.h6
		.medium-12.columns.top_margin
			H2 Authentication failed
		.medium-12.columns.top_margin
			H4 Since authentication is required to use this page, please try it again.
		.medium-12.columns.top_margin.bottom_margin.text-center
			a(href='javascript:$.magnificPopup.close();').c_small_button.bg_orange
				text Understood
