#auth-success.white-popup.mfp-hide.text-left
	.row.h6
		.medium-12.columns.top_margin
			H2 Thank you!
		.medium-12.columns.top_margin
			H4 You successfully authenticated yourself, and kindly asked to enter and build a better world. :)
		.medium-12.columns.top_margin.bottom_margin.text-center
			a(href='javascript:$.magnificPopup.close();').c_small_button.bg_orange
				text Great
