#login-modal.white-popup.mfp-hide.text-center
	.row.h6
		.medium-12.columns.top_margin
			H2 Please authenticate yourself!
		.medium-12.columns.top_margin.bottom_margin
			a(href='/auth/linkedin').c_small_button.bg_orange
				span.charity-linkedin
