#network-error.white-popup.mfp-hide.text-left
	.row.h6
		.medium-12.columns.top_margin
			H2 Network error occurred!
		.medium-12.columns.top_margin
			H4 Please check your internet connectivity or let us know about your issue and circumstances you are affected by.
		.medium-12.columns.top_margin.bottom_margin.text-center
			a(href='javascript:$.magnificPopup.close();').c_small_button.bg_orange
				text Understood
